#item {
    width: 300px;
    height: 150px;
    border: solid black 1px;
    float: left;
}

#top {
    height: 30%;
    width: 100%;
    border-bottom: 1px solid black;
    padding-left: 10px;
}

#middle {
    height: 50%;
}

#left {
    height: 100%;
    width: 30%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
    float: left;
}

#right {
    height: 100%;
    width: 70%;
    border-bottom: 1px solid black;
    padding: 20px;
    float: left;
}